<div class="ponies-layout">
    <!-- Menu Lateral -->
    <nav class="sidebar">
        <div class="sidebar__logo">
            <img src="assets/images/logo.png" alt="Pony Collection" class="logo" />
        </div>

        <div class="sidebar__menu">
            <div class="sidebar__item active">
                <button class="sidebar__button">
                    <svg-icon src="assets/icons/home.svg" class="icon" [svgStyle]="{ 'width.px': 20 }" />
                </button>
            </div>
        </div>

        <button class="sidebar__logout" (click)="onLogout()">
            <svg-icon src="assets/icons/logout.svg" class="icon" [svgStyle]="{ 'width.px': 20 }" />
        </button>
    </nav>


    <!-- Conteúdo Principal -->
    <main class="content">
        <!-- Header -->
        <header class="header">
            <div class="header__info">
                <h1 class="header__title">DEAR PONY</h1>
                <p class="header__date">{{ currentDate() }}</p>
            </div>

            <div class="header__filter">
                <pony-input icon="search" placeholder="Filtre pelo nome" (inputChange)="onSearchChange($event)" />
            </div>
        </header>

        <!-- Conteúdo -->
        <ng-content></ng-content>

    </main>
</div>
