@use 'styles/variables' as *;
@use 'styles/mixins' as *;

.pony-input {
    width: 100%;
    padding: 1rem 1.25rem;
    background-color: $base-form;
    border: 1px solid rgba($grayscale-03, 0.3);
    border-radius: 12px;
    color: $text-color;
    font-family: $text-family;
    font-size: $font-size-base;
    outline: none;
    @include transition(all, 0.3s, ease);

    &::placeholder {
        color: $grayscale-03;
    }

    &:focus {
        border-color: $primary-color;
        background-color: rgba($base-form, 0.8);
        box-shadow: 0 0 0 3px rgba($primary-shadow, 0.2);
    }

    &:hover:not(:disabled) {
        border-color: rgba($primary-color, 0.5);
    }

    &:disabled {
        opacity: 0.6;
        cursor: not-allowed;
    }
}
