@use 'styles/variables' as *;
@use 'styles/mixins' as *;

.create-pony {
    border-radius: 34px;
    background-color: $base-dark-3;
    width: 100%;
    height: 100%;
    color: $text-color;
    padding: 15px 25px;

    &__field {
        display: flex;
        flex-direction: column;
        height: 90px;

        &:not(:nth-of-type(2)) {
            margin-bottom: 10px;
        }


        label {
            font-family: $text-family;
            font-weight: 500;
            font-size: $font-size-sm;
            color: $text-color;
            margin-bottom: 3px;
        }

        input,
        textarea {
            background-color: $base-dark-2;
            border: none;
            border-radius: 12px;
            padding: 12px 16px;
            color: $text-color;
            font-family: $text-family;
            font-size: $font-size-base;

            &:focus {
                outline: 2px solid $primary-color;
                outline-offset: -2px;
            }
        }

        // Estilo para placeholder do file input em modo de edição
        pony-input.editing-mode ::ng-deep .pony-box__upload-text {
            color: $text-color;
        }
    }

    &__error {
        font-family: $text-family;
        font-size: $font-size-sm;
        color: $critical-color;
    }

    &__footer {
        display: flex;
        justify-content: space-between
    }
}
