@use 'styles/variables' as *;
@use 'styles/mixins' as *;

.pony-details {
    display: flex;
    align-items: end;
    width: 100%;
    height: 100%;

    &__box {
        border-radius: 34px;
        background-color: $base-dark-3;
        width: 100%;
        height: calc(100% - 125px);
        color: $text-color;
        padding: 10px 20px;
        align-self: flex-end;
        position: relative;
    }

    &__heart {
        position: absolute;
        top: 15px;
        right: 25px;
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -150px;

        img {
            width: 213px;
            height: auto;
        }
    }

    &__info {
        h2 {
            font-family: $text-family;
            font-weight: 600;
            font-size: $font-size-xl;
            line-height: 140%;
            letter-spacing: 0;
            text-align: center;
            margin-bottom: 20px;
        }

        p {
            margin-top: 10px;
        }
    }

    &__trash {
        width: 48px;
        height: 48px;
        border-radius: 8px;
        border: 1px solid $critical-color;
        padding: 14px;
        background: none;
        color: $critical-color;
        box-shadow: 4px 4px 12px $base-shadow;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            color: $text-color;
            border: 1px solid $text-color;
            transition: all .25s;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
    }
}
