@use 'styles/variables' as *;
@use 'styles/mixins' as *;

.pony-details {
    display: flex;
    align-items: end;
    width: 100%;
    height: 100%;

    &__box {
        border-radius: 34px;
        background-color: $base-dark-3;
        width: 100%;
        height: calc(100% - 125px);
        color: $text-color;
        padding: 10px 20px;
        align-self: flex-end;
        position: relative;
    }

    &__heart {
        position: absolute;
        top: 15px;
        right: 25px;
        color: $primary-color;

        &--skeleton {
            color: $grayscale-03;
        }
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -150px;

        img {
            width: 213px;
            height: auto;
        }
    }

    &__info {
        h2 {
            font-family: $text-family;
            font-weight: 600;
            font-size: $font-size-xl;
            line-height: 140%;
            letter-spacing: 0;
            text-align: center;
            margin-bottom: 20px;
        }

        p {
            margin-top: 10px;
        }
    }

    &__trash {
        width: 48px;
        height: 48px;
        border-radius: 8px;
        border: 1px solid $critical-color;
        padding: 14px;
        background: none;
        color: $critical-color;
        box-shadow: 4px 4px 12px $base-shadow;
        display: flex;
        justify-content: center;
        align-items: center;

        &:hover {
            color: $text-color;
            border: 1px solid $text-color;
            transition: all .25s;
        }
    }

    &__footer {
        display: flex;
        justify-content: space-between;
    }
}

.skeleton {
    background: linear-gradient(90deg,
            $base-dark-2 0%,
            lighten($base-dark-2, 2%) 50%,
            $base-dark-2 100%);
    background-size: 200% 100%;
    animation: shimmer 1.75s infinite;
    border-radius: 8px;

    &__image-box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 18px;
    }

    &__image {
        width: 197px;
        height: 248px;
        border-radius: 34px;
        margin-top: -80px;
    }

    &__title {
        height: 20px;
        width: 120px;
        margin: 0 auto 46px;
        border-radius: 16px;
    }

    &__text {
        height: 20px;
        margin-top: 15px;
        border-radius: 16px;

        &--full {
            width: 100%;
        }

        &--large {
            width: 85%;
        }

        &--medium {
            width: 70%;
        }

        &--multiline {
            width: 100%;
            height: 84px;
            margin-top: 20px;
            border-radius: 16px;
        }
    }
}

@keyframes shimmer {
    0% {
        background-position: -200% 0;
    }

    100% {
        background-position: 200% 0;
    }
}
