@use 'styles/variables' as *;
@use 'styles/mixins' as *;

.breadcrumb {
    border-bottom: 1px solid $base-dark-3;
    padding-bottom: 12px;

    span {
        font-size: $font-size-sm;
        font-weight: 600;
        color: $primary-color;
        margin-bottom: 24px;
        position: relative;
        padding-bottom: 13px;


        &::after {
            content: '';
            width: 100%;
            height: 3px;
            background-color: $primary-color;
            border-radius: 10px;
            bottom: -3px;
            left: 0;
            position: absolute;
        }
    }
}

.container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
