<main-layout (onSearchEvent)="updateFilter($event)">
    <div class="breadcrumb">
        <span>Poneis</span>
    </div>

    <div class="container">
        @switch (state()) {
            @case (DataStateEnum.LOADING) {
                <div class="loading">
                    <p>Carregando...</p>
                </div>
            }
            @case (DataStateEnum.SUCCESS) {
                <div class="pony-list">
                    <pony-card
                        *ngFor="let pony of filteredPonyList()"
                        [ponyName]="pony.name"
                        [imageUrl]="pony.imageUrl"
                        [isFavorite]="pony.isFavorite"
                        (onHeartClick)="toggleFavorite(pony)"
                        (viewDetailsEvent)="ponyDetails.openDetails(pony.id)"
                    />
                </div>
            }
            @case (DataStateEnum.EMPTY) {
                <div class="feedback">
                    <feedback
                        (onRetry)="getData()"
                        imageName="empty"
                        [title]="'SEM\nDADOS PARA EXIBIR.'"
                        buttonText="Tentar novamente"
                    />
                </div>
            }
            @case (DataStateEnum.ERROR) {
                <div class="feedback">
                    <feedback
                        (onRetry)="getData()"
                        imageName="error"
                        [title]="'OPA!\nALGO DEU ERRADO.'"
                        buttonText="Tentar novamente"
                        message="Não foi possível carregar as informações esperadas. Aguarde alguns instantes e tente novamente."
                    />
                </div>
            }
        }
    </div>

    <button
        class="create-pony"
        (click)="createPony.openForm()"
        aria-label="Formulário de cadastro"
        type="button"
    >
        <svg-icon
            src="assets/icons/plus.svg"
            class="icon"
            [svgStyle]="{ 'width.px': 20, 'height.px': 20 }"
        ></svg-icon>
    </button>
</main-layout>

<pony-details
    #ponyDetails
    [createPonyRef]="createPony"
/>

<create-pony
    #createPony
    (ponyCreated)="getData()"
/>
