@use 'styles/variables' as *;
@use 'styles/mixins' as *;

.breadcrumb {
    border-bottom: 1px solid $base-dark-3;
    padding-bottom: 12px;

    span {
        font-size: $font-size-sm;
        font-weight: 600;
        color: $primary-color;
        margin-bottom: 24px;
        position: relative;
        padding-bottom: 13px;


        &::after {
            content: '';
            width: 100%;
            height: 3px;
            background-color: $primary-color;
            border-radius: 10px;
            bottom: -3px;
            left: 0;
            position: absolute;
        }
    }
}

.container {
    overflow: auto;
    height: 100%;
}

.loading,
.feedback {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pony-list {
    margin-top: 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 100px 25px;
}

.create-pony {
    width: 48px;
    height: 48px;
    position: fixed;
    border-radius: 8px;
    bottom: 50px;
    right: 50px;
    padding: 14px;
    background-color: $primary-color;
    color: $text-color;
    box-shadow: 4px 4px 12px $base-shadow;
}
